<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Student Confirmation Form</title>
</head>
<body>
<h3>Student Confirmation Form</h3>

The Student Information is as follows:
<p th:text="'First Name : ' + ${student.firstName}+ ' ' + ${student.lastName}"></p>

<p th:text="'Country : ' + ${student.country}"></p>

<p th:text="'Favorite Language : ' + ${student.favoriteLanguage}"></p>

<p th:text="'Operating Systems : '"></p>

<ul>
    <li th:each="tempSystem : ${student.operatingSystems}" th:text="${tempSystem}" />
</ul>


</body>
</html>